body {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    background-image: url("http://img.thesun.co.uk/aidemitlum/archive/02340/01_14094219_6cac6c_2340376a.jpg");
    background-size: cover;
}

.white_box{
    background-color: white;
    height: 90vh;
}

a{
    padding: 25px;
    font-size: 25px;
}

a:hover{
    color: sandybrown;
    text-decoration: none;
}

h1{
    padding: 25px;
    font-size: 70px;
    text-align:center;
}

p{
    padding: 25px;
    font-size: 20px;
    text-align:center;
}

#links{
    text-align:center;
}