body {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    background-image: url("http://img.thesun.co.uk/aidemitlum/archive/02340/01_14094219_6cac6c_2340376a.jpg");
    background-size: cover;
}

.white_box{
    background-color: white;
}

a{
    padding: 25px;
    font-size: 25px;
}

a:hover{
    color: sandybrown;
    text-decoration: none;
}

h1{
    padding: 25px;
    font-size: 50px;
    text-align:center;
}

#links{
    text-align:center;
}

.spaced-table>tbody>tr>td{
    padding:25px;
    font-size:15px;
}

.spaced-table>thead>tr>th{
    padding:25px;
    font-size: 20px;
}

.sub-link{
    font-size: 20px;
    margin:25px;
}